body {
	background-color: #1a1d28;
}
.shoptext {
	color: #fff;
}
.shoptextcontainer {
	background-color: #292e3f;
}
.productbutton {
	background-color: #292e3f;
	color: #fff;
	border-radius: 10px;
}

.productbutton:hover {
	background-color: #fff;
	color: black;
}
