body {
	background-color: #1a1d28;
}
.shoptext {
	color: #fff;
}
.navtext {
	padding-left: 20px;
}
.shoptextcontainer {
	background-color: #292e3f;
}
.productbutton {
	background-color: #1a1d28;
	color: #fff;
	border-radius: 10px;
}

.productbutton:hover {
	background-color: #fff;
	color: black;
}
.productdivinner {
	background-color: #292e3f;
	border-radius: 7px;
	flex: 1; /* additionally, equal width */
}

.productdivinner img {
	border-radius: 7px;
}

.login h2 {
	text-align: center;
}

.login {
	background-color: #292e3f;
	border-radius: 10px;
}
.login:hover {
	background-color: #1a1d28;
	border-radius: 10px;
	cursor: pointer;
}

.center {
	margin: auto;
	width: 50%;
	border: 3px solid #1a1d28;
	padding: 10px;
	text-align: center;
}

@media screen and (max-width: 600px) {
	.center {
		width: 100%;
	}
	.productdivinner {
		background-color: #292e3f;
		border-radius: 7px;
		flex: none; /* additionally, equal width */
	}
}

.logincontainer {
	background-color: #292e3f;
	border-radius: 10px;
	color: #fff;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #1a1d28;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #414964;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(53, 63, 92);
}
